
body
{
    
    margin: 0;
    padding: 0;
}
.titre
{
    color: red;
    text-align: left;
    margin: 0;
    padding: 0;
}


.btnCreationRetour
{
    width: 30%;
    background-color: rgb(23, 74, 216);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.btnCreation:hover
{
    background-color: #45a049;
}
.div {
    border-radius: 5px;   
    padding: 20px;
    text-align: center;
    width: 200px;

}
.button
{
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 47px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.mesOffres
{
display: inline-block;
border: blue solid 1px;
margin: 1px;

}
.sesOffres
{
display: inline-block;
border: blue solid 1px;
margin: 1px;

}
.sesDemandes
{
display: inline-block;
border: blue solid 1px;
margin: 1px;

}
#milieux
{
text-align: center;
padding-top: -150px;

}

#left
{
width: 40%;
}
.photoDeals
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    height:20%;
    width: 20%;
  
}
#divPhoto
{
    display:inline-block;
}

#lesUsers
{
    display: inline;
    margin: 0;
    padding: 0;
}
.mesDemandes
{
    display: inline-block;
    border: blue solid 1px;
    margin: 1px;
}
#txtRecherche
{
    width: 100%;
    height: 30px;
    border: none;
    margin: 0px;
   color: white;
    background-color: rgb(113, 189, 240);
}

textarea 
{
    width: 30%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}