.menu a
{
    float: right;
    font-weight: bold;
    margin-right: 20px;
}

.header
{
    height:50px;
    line-height:35px;
    background-color:#283593   ;
}
#lesUsers
{
    display: inline;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}
.p
{
    float: left;
    font-weight: bold;
    margin-right: 20px;
    color: #ff8a65
}
a
{
    color:#FFFFFF
}
.centre
{
    text-align: center;
}
.body
{
    background-color:#B3E5FC;
    
}

#divDealR
{
    background-color: #FF9800;
   
}
#divDealV
{
    background-color: green;

}
.demande
{
    width: 310px; border-bottom: 2px solid #ff8a65 ;
}
.corps
{
    margin: 10px; display: inline-block; width: 340px; height: 150px; border-style: solid; border-color:  #5C6BC0;
}

.corpsDeal
{
    margin: 10px; display: inline-block; width: 240px; height: 315px; border-style: solid; border-color: #5C6BC0;

}

.fondDemande
{
    width: 270px; border-bottom: 2px solid  #ff8a65 ;
}
h3
{
    color: #5C6BC0;
}

.photoCorps
{
    height: 100px;
    width: 100px;
}
.photoheader
{
    height: 40px;
    width: 40px;
}
.lienplus
{
    width: 40px;
    position: absolute;
    text-align: center;
    
    border-radius: 500%;     
    
    background-color:#ff8a65  ;
    
}